@import 'tailwindcss';
@source '../../../shared';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';
@import '@www/shared/design/tokens.css';
@import '@www/shared/design/hue-scope.css';
@import '../../../docs/app/fumadocs-bridge.css';

html {
  scrollbar-gutter: stable;
  overflow-x: clip;
  font-optical-sizing: auto;
}

html > body[data-scroll-locked] {
  margin-right: 0px !important;
  --removed-body-scroll-bar-size: 0px !important;
}
